# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
env/
venv/

# Environment
.env

# ML / Models
models/*
!models/README.md

# Data
data/*
!data/samples.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
